[Desktop Entry]
Name=Serve
Type=Application
GenericName=Start a local server
Comment=
Icon=document-preview
Exec=cd "$(dirname "%k")" && "${HOME}/.local/bin/tdoc" serve
Path=
Terminal=true
StartupNotify=false
